Plan:
- Feature Engineering (Feature selection):
    - Visualize correlation matrix in order to find least useful features that do not corelate with the output
- Dealing with NaN values
- Label encoding for categorical variables
- Data normalization
- Data regularization
- Data splitting
- Selecting ML algorithm
- Hyperparameter tuning
- Testing

After looking at the data I have come to conclusion that the amount of features is big, so I decided to perform feature selection at first and then do some Feature engineering. Also the categorical variables seems not encoded and there are way too many categories in some features. There are also a lot of NaN values and I need to pick one of the methods to replace them.

In [2]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv("./train_df.csv", sep='\t')
print(df.head())

   Unnamed: 0   num_1   num_2  num_3   num_4   num_5   num_6  num_7  cat_1  \
0           0  1377.3  3712.9    NaN  1303.0  2409.0  1281.7   43.0      1
1           1    20.0    13.4    NaN   565.0     NaN   357.2   19.0      1
2           4   150.6     1.8    NaN  2294.0    15.0   107.6   76.0      1
3           5    11.4   178.0    NaN  1236.0     NaN   350.6   41.0      1
4           6  5372.0  3386.0    NaN  1340.0     NaN    14.0   45.0      1

   num_8  ...  num_413  cat_132  cat_133      num_414  num_415  num_416  \
0  195.0  ...  11327.5        1        1  28162496.65      0.0     0.07
1  170.0  ...    168.6        1        1    989383.82      0.0     0.56
2  196.0  ...    209.1        1        1     87444.51      0.0     0.01
3  117.0  ...     56.9        1        1    297608.00      0.0     0.08
4    9.0  ...     31.0        1        1   6614247.89      0.0     0.20

   cat_134  cat_135  id  gb
0        1        1   1   0
1        2        1   2   0
2        3        1   3   0
3        4        1   4   0
4        1        1   5   0

[5 rows x 554 columns]

In [9]:
categorical = []
for column in df.columns:
    if column.find("cat")!=-1:
        categorical.append(column)
    df2 = df[categorical]
print(df2.head())

   cat_1  cat_2  cat_3  cat_4  cat_5  cat_6  cat_7  cat_8  cat_9  cat_10  ...  \
0      1      1      1      1      1      1      1      1      1       1  ...
1      1      1      1      1      1      1      1      1      2       1  ...
2      1      2      2      1      1      1      1      1      2       1  ...
3      1      1      1      1      1      1      1      1      2       1  ...
4      1      1      1      1      1      1      1      1      2       1  ...

   cat_126  cat_127  cat_128  cat_129  cat_130  cat_131  cat_132  cat_133  \
0        1        1        1        1        1        1        1        1
1        1        1        1        1        1        1        1        1
2        1        1        1        1        1        1        1        1
3        1        1        1        1        1        1        1        1
4        1        1        1        1        1        2        1        1

   cat_134  cat_135
0        1        1
1        2        1
2        3        1
3        4        1
4        1        1

[5 rows x 135 columns]

In [31]:
for value in df2.columns:
    print(df2.loc[df[value].idxmax()])
    break
print(max((df2.loc[df[value].idxmax()])))
print((df2.loc[df[value].idxmax()]).idxmax())

cat_1      5
cat_2      1
cat_3      1
cat_4      1
cat_5      1
          ..
cat_131    1
cat_132    1
cat_133    1
cat_134    5
cat_135    1
Name: 12370, Length: 135, dtype: int64
272
cat_60